<div class="row">
  <div class="col m4 panel">
    <%= image_tag @user.image, class: "center-block" %>
    <h3><%= @user.name %></h3>
    <ul class="collection nav">
      <li class="collection-item  blue-grey lighten-4"><%= link_to "Search", root_path, class: "material-icons mdi-action-search" %></li>
      <li class="collection-item  blue-grey lighten-4"><%= link_to " Moods", moods_path, class: "fa fa-smile-o" %></li>
    </ul>
  </div>
  <div class="col m8">
    <h2>Your Moods</h2>
    <h3>Add Mood <%= link_to new_mood_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons mdi-content-add"></i><% end %></h3>
    <div class="row">
      <%= render 'cards' %>
    </div>
  </div>
</div>
