<table class="table table-striped table-condensed">
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td class="list-img">
        <%= image_tag restaurant.image_url %>
      </td>
      <td>
        <h3><%= restaurant.name %></h3>
        <p><%= restaurant.rating %></p>
        <p><%= restaurant.review_count %></p>
        <p>Category: <% restaurant.categories.each do |cat| %>
          <%= cat[0] %>
          <% end %>
        </p>
      </td>
      <td>
        <p><%= restaurant.review_count %></p>
      </td>
    </tr>
  <% end %>
</table>
