<!DOCTYPE html>
<html>
<head>
  <title>Moodie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to "M🙄😜die", root_path, class: "brand-logo center" %>
          <ul class="right hide-on-med-and-down">
            <li><%= render 'devise/menu/registration_items' %></li>
            <li><%= render 'devise/menu/login_items' %></li>
          </ul>
        </div>
      </nav>
      <nav>
       <div class="nav-wrapper">
         <%= link_to "M🙄😜die", root_path, class: "brand-logo center" %>
         <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons mdi-navigation-menu"></i></a>
         <ul class="right hide-on-med-and-down">
           <li><%= render 'devise/menu/registration_items' %></li>
           <li><%= render 'devise/menu/login_items' %></li>
         </ul>
         <ul class="side-nav" id="mobile-demo">
           <li><%= render 'devise/menu/registration_items' %></li>
           <li><%= render 'devise/menu/login_items' %></li>
         </ul>
       </div>
     </nav>
   </div>
  </header>
  <main class="container">

   <%= yield %>
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2015 Copyright FTW
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </ter>
  </footer>
</body>
</html>
